<span class="post-meta">
      <time datetime="<%= date_xml(post.date) %>" itemprop="datePublished">
          发表日期：<%= date(post.date, null) %>
      </time>
      | <time datetime="<%= date_xml(post.updated) %>" itemprop="datePublished">
          更新日期：<%= date(post.updated, null) %>
      </time>
    <% if (post.tags && post.tags.length){ %>
    <% count = post.tags.length %>
    | <% post.tags.forEach(function(tag, index) { %>
    <a href='<%= config.root + tag.path %>'><%= tag.name %></a><% if (count !== index+1) { %>,<% } %>
    <% }); %>
    <% } %>
</span>